In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('movie/mbti.csv')
movie.head()

,stat,mbti,enneagram,role,movie,img_url
0,697 / 162,ESFP,7w6,"Peter Quill ""Star-Lord""",Marvel Cinematic Universe,https://www.personality-database.com/profile_i...
1,668 / 231,ESFP,8w7,Anakin Skywalker,Star Wars,https://www.personality-database.com/profile_i...
2,589 / 243,ESFP,6w7,Ron Weasley,Harry Potter (franchise),https://www.personality-database.com/profile_i...
3,312 / 101,ESFP,7w8,Bellatrix Lestrange,Harry Potter (franchise),https://www.personality-database.com/profile_i...
4,302 / 105,ESFP,7w6,Simba,The Lion King (1994),https://www.personality-database.com/profile_i...

In [3]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18741 entries, 0 to 18740
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   stat       18476 non-null  object
 1   mbti       18741 non-null  object
 2   enneagram  12066 non-null  object
 3   role       18741 non-null  object
 4   movie      18741 non-null  object
 5   img_url    18741 non-null  object
dtypes: object(6)
memory usage: 878.6+ KB