In [17]:
import pandas as pd
import plotly.express as px

In [18]:
df = pd.read_csv('distribution/countries.csv')
df[:5]

,Country,ESTJ-A,ESFJ-A,INFP-T,ESFJ-T,ENFP-T,ENFP-A,ESTJ-T,ISFJ-T,ENFJ-A,...,INTP-A,ENTP-T,ISTP-T,ENTJ-T,ISTP-A,INFP-A,ENFJ-T,INTJ-A,ISFP-A,INFJ-A
0,Afghanistan,0.0798,0.0594,0.0482,0.0412,0.0406,0.0390,0.0390,0.0377,0.0364,...,0.0233,0.0227,0.0220,0.0220,0.0214,0.0204,0.0198,0.0182,0.0169,0.0150
1,Albania,0.0469,0.0399,0.0836,0.0266,0.0647,0.0398,0.0198,0.0286,0.0363,...,0.0273,0.0395,0.0128,0.0289,0.0105,0.0209,0.0412,0.0252,0.0108,0.0164
2,Algeria,0.0230,0.0275,0.1218,0.0165,0.0523,0.0334,0.0097,0.0222,0.0262,...,0.0559,0.0306,0.0157,0.0192,0.0173,0.0338,0.0294,0.0404,0.0113,0.0217
3,Andorra,0.0512,0.0372,0.1023,0.0279,0.0930,0.0837,0.0093,0.0279,0.0605,...,0.0233,0.0279,0.0093,0.0186,0.0093,0.0651,0.0558,0.0140,0.0326,0.0419
4,Angola,0.0484,0.0905,0.0771,0.0287,0.0475,0.0323,0.0108,0.0394,0.0475,...,0.0215,0.0215,0.0116,0.0134,0.0206,0.0341,0.0332,0.0269,0.0179,0.0314

In [19]:
type_list = ['INTJ','INTP','ENTJ','ENTP','INFJ','INFP','ENFJ','ENFP','ISTJ','ISFJ','ESTJ','ESFJ','ISTP','ISFP','ESTP','ESFP']
for type in type_list:
    index1 = type+'-A'
    index2 = type+'-T'
    df[type] = df[index1] + df[index2]
    df = df.drop([index1, index2], axis=1)
df[:5]

,Country,INTJ,INTP,ENTJ,ENTP,INFJ,INFP,ENFJ,ENFP,ISTJ,ISFJ,ESTJ,ESFJ,ISTP,ISFP,ESTP,ESFP
0,Afghanistan,0.0431,0.0549,0.0511,0.0495,0.0463,0.0686,0.0562,0.0796,0.0629,0.0610,0.1188,0.1006,0.0434,0.0460,0.0652,0.0527
1,Albania,0.0604,0.0754,0.0686,0.0792,0.0748,0.1045,0.0775,0.1045,0.0418,0.0449,0.0667,0.0665,0.0233,0.0334,0.0381,0.0405
2,Algeria,0.0896,0.1410,0.0535,0.0739,0.0800,0.1556,0.0556,0.0857,0.0320,0.0337,0.0327,0.0440,0.0330,0.0377,0.0241,0.0279
3,Andorra,0.0326,0.0512,0.0465,0.0372,0.0791,0.1674,0.1163,0.1767,0.0279,0.0465,0.0605,0.0651,0.0186,0.0419,0.0187,0.0372
4,Angola,0.0466,0.0564,0.0492,0.0448,0.0771,0.1112,0.0807,0.0798,0.0404,0.0717,0.0592,0.1192,0.0322,0.0403,0.0368,0.0547

In [31]:
df.max()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bhutan',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada',
       'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Congo (Kinshasa)', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritius',
       'Mexico', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'South Korea', 'Moldova', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Tanzania',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
type = "ISTJ"
fig = px.choropleth(df[["Country", type]], locations="Country", color=type, 
                    color_continuous_scale="purples", 
                    range_color=(0, 0.2),
                    locationmode="country names", 
                    projection='natural earth')
fig.show()

In [30]:
# projection='orthographic'
for type in type_list:
    fig = px.choropleth(df[["Country", type]], locations="Country", color=type, 
                    color_continuous_scale="YlOrBr", 
                    range_color=(0, 0.2),
                    locationmode="country names", 
                    projection='natural earth')
    name = "distribution_" + type + ".html"
    fig.write_html(name)