In [1]:
import pandas as pd
import plotly.express as px
from datetime import datetime, date, time
import calendar
import plotly.graph_objects as go

# Birthday dataset

In [2]:
birthday_df = pd.read_csv('birthday/birthdays.csv')
birthday_df.drop(labels="Time of Birth (not required)",axis=1,inplace=True)

birthday_df['Birthday'] = pd.to_datetime(birthday_df.Birthday)
birthday_df['year'] = birthday_df.Birthday.dt.year
birthday_df['month'] = birthday_df.Birthday.dt.month
birthday_df['day'] = birthday_df.Birthday.dt.day

birthday_df.rename(columns={"MBTI Type":"Type"},inplace=True)

In [3]:
text = birthday_df.copy()
text = text.sort_values(by='month')
text['month'] = text['month'].apply(lambda x: calendar.month_abbr[x])

In [4]:
birthday_df.head()

            Timestamp   Birthday  Type  year  month  day
0  4/12/2020 17:39:37 1996-09-13  INFJ  1996      9   13
1  4/12/2020 17:45:59 2000-03-08  ISTJ  2000      3    8
2  4/12/2020 17:58:56 2000-08-20  INTP  2000      8   20
3  4/12/2020 18:10:25 2000-06-30  INFP  2000      6   30
4  4/12/2020 18:10:27 2000-06-30  INFP  2000      6   30

In [5]:
print(px.colors.qualitative.Set3+px.colors.qualitative.Set2)

['rgb(141,211,199)', 'rgb(255,255,179)', 'rgb(190,186,218)', 'rgb(251,128,114)', 'rgb(128,177,211)', 'rgb(253,180,98)', 'rgb(179,222,105)', 'rgb(252,205,229)', 'rgb(217,217,217)', 'rgb(188,128,189)', 'rgb(204,235,197)', 'rgb(255,237,111)', 'rgb(102,194,165)', 'rgb(252,141,98)', 'rgb(141,160,203)', 'rgb(231,138,195)', 'rgb(166,216,84)', 'rgb(255,217,47)', 'rgb(229,196,148)', 'rgb(179,179,179)']

In [7]:
#Overall Histogram
fig = px.histogram(birthday_df, x='month',color='Type',nbins=12,barnorm='percent',color_discrete_sequence=px.colors.qualitative.Set3+px.colors.qualitative.Set2)

fig.update_layout(
    width=500,
    height=500,)

fig.write_html("birthday_overall.html")

In [8]:
#Donut charts for each month.
type_list = ['INTJ','INTP','ENTJ','ENTP','INFJ','INFP','ENFJ','ENFP','ISTJ','ISFJ','ESTJ','ESFJ','ISTP','ISFP','ESTP','ESFP']
for type in type_list:
    df = text[text.Type==type]
    fig = go.Figure(
        data=[go.Pie(
            labels=df['month'],
            marker = dict(colors=px.colors.qualitative.Set3),
            hole=.25,
            sort=False)
    ])
    fig.update_layout(
        width=500,
        height=500,
    )
    name = "birthday_" + type + ".html"
    fig.write_html(name)