In [92]:
import pandas as pd
import plotly.express as px

In [93]:
df = pd.read_csv('distribution/countries.csv')
df[:5]

,Country,ESTJ-A,ESFJ-A,INFP-T,ESFJ-T,ENFP-T,ENFP-A,ESTJ-T,ISFJ-T,ENFJ-A,...,INTP-A,ENTP-T,ISTP-T,ENTJ-T,ISTP-A,INFP-A,ENFJ-T,INTJ-A,ISFP-A,INFJ-A
0,Afghanistan,0.0798,0.0594,0.0482,0.0412,0.0406,0.0390,0.0390,0.0377,0.0364,...,0.0233,0.0227,0.0220,0.0220,0.0214,0.0204,0.0198,0.0182,0.0169,0.0150
1,Albania,0.0469,0.0399,0.0836,0.0266,0.0647,0.0398,0.0198,0.0286,0.0363,...,0.0273,0.0395,0.0128,0.0289,0.0105,0.0209,0.0412,0.0252,0.0108,0.0164
2,Algeria,0.0230,0.0275,0.1218,0.0165,0.0523,0.0334,0.0097,0.0222,0.0262,...,0.0559,0.0306,0.0157,0.0192,0.0173,0.0338,0.0294,0.0404,0.0113,0.0217
3,Andorra,0.0512,0.0372,0.1023,0.0279,0.0930,0.0837,0.0093,0.0279,0.0605,...,0.0233,0.0279,0.0093,0.0186,0.0093,0.0651,0.0558,0.0140,0.0326,0.0419
4,Angola,0.0484,0.0905,0.0771,0.0287,0.0475,0.0323,0.0108,0.0394,0.0475,...,0.0215,0.0215,0.0116,0.0134,0.0206,0.0341,0.0332,0.0269,0.0179,0.0314

In [94]:
type_list = ['INTJ','INTP','ENTJ','ENTP','INFJ','INFP','ENFJ','ENFP','ISTJ','ISFJ','ESTJ','ESFJ','ISTP','ISFP','ESTP','ESFP']
for type in type_list:
    index1 = type+'-A'
    index2 = type+'-T'
    df[type] = df[index1] + df[index2]
    df = df.drop([index1, index2], axis=1)
df[:5]

,Country,INTJ,INTP,ENTJ,ENTP,INFJ,INFP,ENFJ,ENFP,ISTJ,ISFJ,ESTJ,ESFJ,ISTP,ISFP,ESTP,ESFP
0,Afghanistan,0.0431,0.0549,0.0511,0.0495,0.0463,0.0686,0.0562,0.0796,0.0629,0.0610,0.1188,0.1006,0.0434,0.0460,0.0652,0.0527
1,Albania,0.0604,0.0754,0.0686,0.0792,0.0748,0.1045,0.0775,0.1045,0.0418,0.0449,0.0667,0.0665,0.0233,0.0334,0.0381,0.0405
2,Algeria,0.0896,0.1410,0.0535,0.0739,0.0800,0.1556,0.0556,0.0857,0.0320,0.0337,0.0327,0.0440,0.0330,0.0377,0.0241,0.0279
3,Andorra,0.0326,0.0512,0.0465,0.0372,0.0791,0.1674,0.1163,0.1767,0.0279,0.0465,0.0605,0.0651,0.0186,0.0419,0.0187,0.0372
4,Angola,0.0466,0.0564,0.0492,0.0448,0.0771,0.1112,0.0807,0.0798,0.0404,0.0717,0.0592,0.1192,0.0322,0.0403,0.0368,0.0547

In [95]:
import pycountry_convert as pc

def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [21]:
country_to_continent("Afghanistan")

'Asia'

In [97]:
df = df.replace("Congo (Kinshasa)", "Congo")

In [98]:
df['Continent'] = df['Country']
df[:5]

,Country,INTJ,INTP,ENTJ,ENTP,INFJ,INFP,ENFJ,ENFP,ISTJ,ISFJ,ESTJ,ESFJ,ISTP,ISFP,ESTP,ESFP,Continent
0,Afghanistan,0.0431,0.0549,0.0511,0.0495,0.0463,0.0686,0.0562,0.0796,0.0629,0.0610,0.1188,0.1006,0.0434,0.0460,0.0652,0.0527,Afghanistan
1,Albania,0.0604,0.0754,0.0686,0.0792,0.0748,0.1045,0.0775,0.1045,0.0418,0.0449,0.0667,0.0665,0.0233,0.0334,0.0381,0.0405,Albania
2,Algeria,0.0896,0.1410,0.0535,0.0739,0.0800,0.1556,0.0556,0.0857,0.0320,0.0337,0.0327,0.0440,0.0330,0.0377,0.0241,0.0279,Algeria
3,Andorra,0.0326,0.0512,0.0465,0.0372,0.0791,0.1674,0.1163,0.1767,0.0279,0.0465,0.0605,0.0651,0.0186,0.0419,0.0187,0.0372,Andorra
4,Angola,0.0466,0.0564,0.0492,0.0448,0.0771,0.1112,0.0807,0.0798,0.0404,0.0717,0.0592,0.1192,0.0322,0.0403,0.0368,0.0547,Angola

In [99]:
df['Continent'] = df['Continent'].apply(lambda x: country_to_continent(x))
df[:5]

,Country,INTJ,INTP,ENTJ,ENTP,INFJ,INFP,ENFJ,ENFP,ISTJ,ISFJ,ESTJ,ESFJ,ISTP,ISFP,ESTP,ESFP,Continent
0,Afghanistan,0.0431,0.0549,0.0511,0.0495,0.0463,0.0686,0.0562,0.0796,0.0629,0.0610,0.1188,0.1006,0.0434,0.0460,0.0652,0.0527,Asia
1,Albania,0.0604,0.0754,0.0686,0.0792,0.0748,0.1045,0.0775,0.1045,0.0418,0.0449,0.0667,0.0665,0.0233,0.0334,0.0381,0.0405,Europe
2,Algeria,0.0896,0.1410,0.0535,0.0739,0.0800,0.1556,0.0556,0.0857,0.0320,0.0337,0.0327,0.0440,0.0330,0.0377,0.0241,0.0279,Africa
3,Andorra,0.0326,0.0512,0.0465,0.0372,0.0791,0.1674,0.1163,0.1767,0.0279,0.0465,0.0605,0.0651,0.0186,0.0419,0.0187,0.0372,Europe
4,Angola,0.0466,0.0564,0.0492,0.0448,0.0771,0.1112,0.0807,0.0798,0.0404,0.0717,0.0592,0.1192,0.0322,0.0403,0.0368,0.0547,Africa

In [100]:
df2 = df.groupby(['Continent']).sum()
df2

,INTJ,INTP,ENTJ,ENTP,INFJ,INFP,ENFJ,ENFP,ISTJ,ISFJ,ESTJ,ESFJ,ISTP,ISFP,ESTP,ESFP
Continent,,,,,,,,,,,,,,,,
Africa,1.5361,2.2182,1.4284,1.8481,2.4949,3.8959,2.5912,3.8533,1.3882,2.4782,2.0241,3.6694,0.9165,1.7255,1.0508,1.8925
Asia,1.8128,2.8475,1.6686,2.3201,2.8553,5.6255,2.9612,5.1258,1.6152,2.6769,2.3795,3.7995,1.1509,2.3549,1.3136,2.4917
Europe,2.1849,3.6793,1.6735,2.8147,3.2210,6.4404,2.8355,5.4225,1.5558,2.1383,1.9189,2.5749,1.0976,1.7184,1.1355,1.6127
North America,1.0026,1.5538,0.7344,1.2099,1.7994,3.1932,1.6680,2.8708,0.9046,1.6309,0.9612,2.0623,0.5713,1.1102,0.5664,1.1338
Oceania,0.1514,0.2017,0.0983,0.1977,0.4022,0.6760,0.4093,0.6937,0.1502,0.3891,0.2145,0.5215,0.1022,0.3265,0.1143,0.3642
South America,0.5541,0.9128,0.3188,0.5511,0.7994,1.6880,0.6840,1.3160,0.3670,0.5083,0.3420,0.6355,0.2584,0.4307,0.2235,0.4103

In [102]:
import numpy as np
df2 = df2.div(df2.sum(axis=1), axis=0)
# df2 = df2.mul(1000,axis=0)
# types = ['ESTJ','ESTP','ESFJ','ESFP','ENTJ','ENTP','ENFJ','ENFP','ISTJ','ISTP','ISFJ','ISFP','INTJ','INTP','INFJ','INFP']
# for t in types:
#     df2[t] = df2[t].apply(np.ceil)
# df2

In [103]:

data_pre = []
types = ['ENFJ','ENFP','ENTJ','ENTP','ESFJ','ESFP','ESTJ','ESTP','INFJ','INFP','INTJ','INTP','ISFJ','ISFP','ISTJ','ISTP']
continents = ['Africa','Asia','Europe','North America','Oceania', 'South America']
for c in continents:
    for t in types:
        temp = []
        temp.append(str(c))
        idx = continents.index(c)
        temp.append(str(t))
        temp.append(df2[t][idx])
        data_pre.append(temp)
print(data_pre)

[['Africa', 'ENFJ', 0.07401039093092801], ['Africa', 'ENFP', 0.11005875245992007], ['Africa', 'ENTJ', 0.0407982565628811], ['Africa', 'ENTP', 0.05278581486548627], ['Africa', 'ESFJ', 0.10480616258179501], ['Africa', 'ESFP', 0.05405397685889982], ['Africa', 'ESTJ', 0.05781276330784632], ['Africa', 'ESTP', 0.030013167177454128], ['Africa', 'INFJ', 0.07125985039115941], ['Africa', 'INFP', 0.11127550248062767], ['Africa', 'INTJ', 0.04387440626312074], ['Africa', 'INTP', 0.06335668769797177], ['Africa', 'ISFJ', 0.07078286153327641], ['Africa', 'ISFP', 0.04928408828006957], ['Africa', 'ISTJ', 0.0396500558391148], ['Africa', 'ISTP', 0.02617726276944871], ['Asia', 'ENFJ', 0.06886671783064721], ['Asia', 'ENFP', 0.11920742342845184], ['Asia', 'ENTJ', 0.03880555361752598], ['Asia', 'ENTP', 0.053957068769041126], ['Asia', 'ESFJ', 0.08836252005860601], ['Asia', 'ESFP', 0.05794785925254075], ['Asia', 'ESTJ', 0.05533849624409869], ['Asia', 'ESTP', 0.03054954766389916], ['Asia', 'INFJ', 0.06640386985743854], ['Asia', 'INFP', 0.13082862392148653], ['Asia', 'INTJ', 0.0421591199795344], ['Asia', 'INTP', 0.06622247029000675], ['Asia', 'ISFJ', 0.06225493616130606], ['Asia', 'ISFP', 0.05476638991604455], ['Asia', 'ISTJ', 0.0375636642712621], ['Asia', 'ISTP', 0.02676573873811017], ['Europe', 'ENFJ', 0.06747350912219], ['Europe', 'ENFP', 0.1290337165279758], ['Europe', 'ENTJ', 0.03982257715252511], ['Europe', 'ENTP', 0.06697855268073645], ['Europe', 'ESFJ', 0.06127227601436325], ['Europe', 'ESFP', 0.03837578140058396], ['Europe', 'ESTJ', 0.045662111322366555], ['Europe', 'ESTP', 0.027020338426466818], ['Europe', 'INFJ', 0.07664686047701427], ['Europe', 'INFP', 0.15325564738160907], ['Europe', 'INTJ', 0.05199184273710912], ['Europe', 'INTP', 0.087552559376926], ['Europe', 'ISFJ', 0.05088294994039107], ['Europe', 'ISFP', 0.04089101677854744], ['Europe', 'ISTJ', 0.03702178998141533], ['Europe', 'ISTP', 0.026118470679779827], ['North America', 'ENFJ', 0.07260760551608862], ['North America', 'ENFP', 0.12496517620838563], ['North America', 'ENTJ', 0.03196824070204764], ['North America', 'ENTP', 0.05266663184287505], ['North America', 'ESFJ', 0.08977138180805128], ['North America', 'ESFP', 0.04935401866555229], ['North America', 'ESTJ', 0.04184078562473884], ['North America', 'ESTP', 0.024655244463017124], ['North America', 'INFJ', 0.07832741328875888], ['North America', 'INFP', 0.13899916422900133], ['North America', 'INTJ', 0.04364291684078562], ['North America', 'INTP', 0.0676365092631286], ['North America', 'ISFJ', 0.07099265217996936], ['North America', 'ISFP', 0.04832671681292661], ['North America', 'ISTJ', 0.039377002368017826], ['North America', 'ISTP', 0.024868540186655512], ['Oceania', 'ENFJ', 0.08165097350782001], ['Oceania', 'ENFP', 0.13838573252473665], ['Oceania', 'ENTJ', 0.01960979891477812], ['Oceania', 'ENTP', 0.039439036067666765], ['Oceania', 'ESFJ', 0.1040336737950846], ['Oceania', 'ESFP', 0.07265400574529203], ['Oceania', 'ESTJ', 0.04279045643153521], ['Oceania', 'ESTP', 0.022801627832748157], ['Oceania', 'INFJ', 0.08023459942547083], ['Oceania', 'INFP', 0.1348547717842324], ['Oceania', 'INTJ', 0.03020268113629107], ['Oceania', 'INTP', 0.04023699329715927], ['Oceania', 'ISFJ', 0.07762128949888288], ['Oceania', 'ISFP', 0.06513325885732524], ['Oceania', 'ISTJ', 0.029963293967443298], ['Oceania', 'ISTP', 0.020387807213533324], ['South America', 'ENFJ', 0.06840068400684007], ['South America', 'ENFP', 0.13160131601316014], ['South America', 'ENTJ', 0.031880318803188035], ['South America', 'ENTP', 0.055110551105511045], ['South America', 'ESFJ', 0.06355063550635502], ['South America', 'ESFP', 0.04103041030410302], ['South America', 'ESTJ', 0.03420034200342002], ['South America', 'ESTP', 0.022350223502235006], ['South America', 'INFJ', 0.07994079940799406], ['South America', 'INFP', 0.16880168801688017], ['South America', 'INTJ', 0.05541055410554105], ['South America', 'INTP', 0.09128091280912808], ['South America', 'ISFJ', 0.05083050830508306], ['South America', 'ISFP', 0.04307043070430702], ['South America', 'ISTJ', 0.03670036700367003], ['South America', 'ISTP', 0.025840258402584]]

# Birthday

In [55]:
import pandas as pd
import plotly.express as px
from datetime import datetime, date, time
import calendar
import plotly.graph_objects as go

birthday_df = pd.read_csv('birthday/birthdays.csv')
birthday_df.drop(labels="Time of Birth (not required)",axis=1,inplace=True)

birthday_df['Birthday'] = pd.to_datetime(birthday_df.Birthday)
birthday_df['year'] = birthday_df.Birthday.dt.year
birthday_df['month'] = birthday_df.Birthday.dt.month
birthday_df['day'] = birthday_df.Birthday.dt.day

birthday_df.rename(columns={"MBTI Type":"Type"},inplace=True)

text = birthday_df.copy()
text = text.sort_values(by='month')
text['month'] = text['month'].apply(lambda x: calendar.month_abbr[x])

In [56]:
b_df = text[['Type','month']]
b_df

     Type month
256  ENTP   Jan
157  INTJ   Jan
285  INTJ   Jan
45   INTJ   Jan
47   INFP   Jan
..    ...   ...
261  INTJ   Dec
99   ESFP   Dec
100  INTP   Dec
287  INTJ   Dec
215  ISFJ   Dec

[306 rows x 2 columns]

In [68]:
b_df2 = b_df.groupby(['Type'], as_index=False).agg({'month': ' '.join})
b_df2

    Type                                              month
0   ENFJ                        Jun Jun Aug Sep Sep Oct Dec
1   ENFP  Jan Jan Feb Feb Feb Feb Mar Mar Mar Aug Sep No...
2   ENTJ                                Apr May Aug Aug Nov
3   ENTP  Jan Jan Jan Jan Feb Feb Feb Apr May Jun Jun Au...
4   ESFJ                                            Feb Dec
5   ESFP                                        Jan Apr Dec
6   ESTJ                                            Aug Sep
7   ESTP                                        Apr Apr Dec
8   INFJ  Jan Jan Feb Feb Apr Apr Apr Apr Apr May Jun Ju...
9   INFP  Jan Jan Jan Jan Jan Jan Feb Feb Feb Feb Feb Fe...
10  INTJ  Jan Jan Jan Jan Jan Jan Feb Feb Feb Feb Feb Fe...
11  INTP  Jan Jan Jan Jan Jan Feb Feb Feb Mar Mar Apr Ap...
12  ISFJ                    Jul Jul Jul Aug Aug Oct Nov Dec
13  ISFP                                Feb Mar Mar Jul Oct
14  ISTJ    Jan Feb Feb Mar Mar Apr Apr Aug Aug Sep Oct Nov
15  ISTP            Apr May May May May May Aug Aug Oct Oct

In [74]:

l = np.array(b_df2['month'][9].split()) == 'Jan'
print(l.sum())

6

In [78]:
types = ['ENFJ','ENFP','ENTJ','ENTP','ESFJ','ESFP','ESTJ','ESTP','INFJ','INFP','INTJ','INTP','ISFJ','ISFP','ISTJ','ISTP']
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
type_month_num = []
for i in range(16):
    temp = list(np.zeros(12))
    for m in months:
        idx = months.index(m)
        mask = np.array(b_df2['month'][i].split()) == m
        temp[idx] = mask.sum()
    type_month_num.append(temp)
dict = {'type':types,'month_num':type_month_num}
df_new = pd.DataFrame(data = dict)
df_new

    type                               month_num
0   ENFJ    [0, 0, 0, 0, 0, 2, 0, 1, 2, 1, 0, 1]
1   ENFP    [2, 4, 3, 0, 0, 0, 0, 1, 1, 0, 4, 3]
2   ENTJ    [0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 1, 0]
3   ENTP    [4, 3, 0, 1, 1, 2, 0, 2, 2, 0, 3, 2]
4   ESFJ    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
5   ESFP    [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1]
6   ESTJ    [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]
7   ESTP    [0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1]
8   INFJ    [2, 2, 0, 5, 1, 4, 5, 2, 4, 0, 1, 5]
9   INFP  [6, 10, 3, 6, 12, 5, 5, 3, 7, 4, 7, 4]
10  INTJ    [6, 7, 5, 7, 7, 6, 4, 2, 3, 5, 3, 4]
11  INTP    [5, 3, 2, 3, 5, 4, 4, 7, 7, 4, 3, 2]
12  ISFJ    [0, 0, 0, 0, 0, 0, 3, 2, 0, 1, 1, 1]
13  ISFP    [0, 1, 2, 0, 0, 0, 1, 0, 0, 1, 0, 0]
14  ISTJ    [1, 2, 2, 2, 0, 0, 0, 2, 1, 1, 1, 0]
15  ISTP    [0, 0, 0, 1, 5, 0, 0, 2, 0, 2, 0, 0]

In [85]:
data_post = []
types = ['ENFJ','ENFP','ENTJ','ENTP','ESFJ','ESFP','ESTJ','ESTP','INFJ','INFP','INTJ','INTP','ISFJ','ISFP','ISTJ','ISTP']
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for t in types:
    for m in months:
        temp = []
        temp.append(str(t))
        temp.append(str(m))
        idx_m = months.index(m)
        idx_t = types.index(t)
        temp.append(np.array(df_new['month_num'][idx_t])[idx_m])
        data_post.append(temp)
print(data_post)

[['ENFJ', 'Jan', 0], ['ENFJ', 'Feb', 0], ['ENFJ', 'Mar', 0], ['ENFJ', 'Apr', 0], ['ENFJ', 'May', 0], ['ENFJ', 'Jun', 2], ['ENFJ', 'Jul', 0], ['ENFJ', 'Aug', 1], ['ENFJ', 'Sep', 2], ['ENFJ', 'Oct', 1], ['ENFJ', 'Nov', 0], ['ENFJ', 'Dec', 1], ['ENFP', 'Jan', 2], ['ENFP', 'Feb', 4], ['ENFP', 'Mar', 3], ['ENFP', 'Apr', 0], ['ENFP', 'May', 0], ['ENFP', 'Jun', 0], ['ENFP', 'Jul', 0], ['ENFP', 'Aug', 1], ['ENFP', 'Sep', 1], ['ENFP', 'Oct', 0], ['ENFP', 'Nov', 4], ['ENFP', 'Dec', 3], ['ENTJ', 'Jan', 0], ['ENTJ', 'Feb', 0], ['ENTJ', 'Mar', 0], ['ENTJ', 'Apr', 1], ['ENTJ', 'May', 1], ['ENTJ', 'Jun', 0], ['ENTJ', 'Jul', 0], ['ENTJ', 'Aug', 2], ['ENTJ', 'Sep', 0], ['ENTJ', 'Oct', 0], ['ENTJ', 'Nov', 1], ['ENTJ', 'Dec', 0], ['ENTP', 'Jan', 4], ['ENTP', 'Feb', 3], ['ENTP', 'Mar', 0], ['ENTP', 'Apr', 1], ['ENTP', 'May', 1], ['ENTP', 'Jun', 2], ['ENTP', 'Jul', 0], ['ENTP', 'Aug', 2], ['ENTP', 'Sep', 2], ['ENTP', 'Oct', 0], ['ENTP', 'Nov', 3], ['ENTP', 'Dec', 2], ['ESFJ', 'Jan', 0], ['ESFJ', 'Feb', 1], ['ESFJ', 'Mar', 0], ['ESFJ', 'Apr', 0], ['ESFJ', 'May', 0], ['ESFJ', 'Jun', 0], ['ESFJ', 'Jul', 0], ['ESFJ', 'Aug', 0], ['ESFJ', 'Sep', 0], ['ESFJ', 'Oct', 0], ['ESFJ', 'Nov', 0], ['ESFJ', 'Dec', 1], ['ESFP', 'Jan', 1], ['ESFP', 'Feb', 0], ['ESFP', 'Mar', 0], ['ESFP', 'Apr', 1], ['ESFP', 'May', 0], ['ESFP', 'Jun', 0], ['ESFP', 'Jul', 0], ['ESFP', 'Aug', 0], ['ESFP', 'Sep', 0], ['ESFP', 'Oct', 0], ['ESFP', 'Nov', 0], ['ESFP', 'Dec', 1], ['ESTJ', 'Jan', 0], ['ESTJ', 'Feb', 0], ['ESTJ', 'Mar', 0], ['ESTJ', 'Apr', 0], ['ESTJ', 'May', 0], ['ESTJ', 'Jun', 0], ['ESTJ', 'Jul', 0], ['ESTJ', 'Aug', 1], ['ESTJ', 'Sep', 1], ['ESTJ', 'Oct', 0], ['ESTJ', 'Nov', 0], ['ESTJ', 'Dec', 0], ['ESTP', 'Jan', 0], ['ESTP', 'Feb', 0], ['ESTP', 'Mar', 0], ['ESTP', 'Apr', 2], ['ESTP', 'May', 0], ['ESTP', 'Jun', 0], ['ESTP', 'Jul', 0], ['ESTP', 'Aug', 0], ['ESTP', 'Sep', 0], ['ESTP', 'Oct', 0], ['ESTP', 'Nov', 0], ['ESTP', 'Dec', 1], ['INFJ', 'Jan', 2], ['INFJ', 'Feb', 2], ['INFJ', 'Mar', 0], ['INFJ', 'Apr', 5], ['INFJ', 'May', 1], ['INFJ', 'Jun', 4], ['INFJ', 'Jul', 5], ['INFJ', 'Aug', 2], ['INFJ', 'Sep', 4], ['INFJ', 'Oct', 0], ['INFJ', 'Nov', 1], ['INFJ', 'Dec', 5], ['INFP', 'Jan', 6], ['INFP', 'Feb', 10], ['INFP', 'Mar', 3], ['INFP', 'Apr', 6], ['INFP', 'May', 12], ['INFP', 'Jun', 5], ['INFP', 'Jul', 5], ['INFP', 'Aug', 3], ['INFP', 'Sep', 7], ['INFP', 'Oct', 4], ['INFP', 'Nov', 7], ['INFP', 'Dec', 4], ['INTJ', 'Jan', 6], ['INTJ', 'Feb', 7], ['INTJ', 'Mar', 5], ['INTJ', 'Apr', 7], ['INTJ', 'May', 7], ['INTJ', 'Jun', 6], ['INTJ', 'Jul', 4], ['INTJ', 'Aug', 2], ['INTJ', 'Sep', 3], ['INTJ', 'Oct', 5], ['INTJ', 'Nov', 3], ['INTJ', 'Dec', 4], ['INTP', 'Jan', 5], ['INTP', 'Feb', 3], ['INTP', 'Mar', 2], ['INTP', 'Apr', 3], ['INTP', 'May', 5], ['INTP', 'Jun', 4], ['INTP', 'Jul', 4], ['INTP', 'Aug', 7], ['INTP', 'Sep', 7], ['INTP', 'Oct', 4], ['INTP', 'Nov', 3], ['INTP', 'Dec', 2], ['ISFJ', 'Jan', 0], ['ISFJ', 'Feb', 0], ['ISFJ', 'Mar', 0], ['ISFJ', 'Apr', 0], ['ISFJ', 'May', 0], ['ISFJ', 'Jun', 0], ['ISFJ', 'Jul', 3], ['ISFJ', 'Aug', 2], ['ISFJ', 'Sep', 0], ['ISFJ', 'Oct', 1], ['ISFJ', 'Nov', 1], ['ISFJ', 'Dec', 1], ['ISFP', 'Jan', 0], ['ISFP', 'Feb', 1], ['ISFP', 'Mar', 2], ['ISFP', 'Apr', 0], ['ISFP', 'May', 0], ['ISFP', 'Jun', 0], ['ISFP', 'Jul', 1], ['ISFP', 'Aug', 0], ['ISFP', 'Sep', 0], ['ISFP', 'Oct', 1], ['ISFP', 'Nov', 0], ['ISFP', 'Dec', 0], ['ISTJ', 'Jan', 1], ['ISTJ', 'Feb', 2], ['ISTJ', 'Mar', 2], ['ISTJ', 'Apr', 2], ['ISTJ', 'May', 0], ['ISTJ', 'Jun', 0], ['ISTJ', 'Jul', 0], ['ISTJ', 'Aug', 2], ['ISTJ', 'Sep', 1], ['ISTJ', 'Oct', 1], ['ISTJ', 'Nov', 1], ['ISTJ', 'Dec', 0], ['ISTP', 'Jan', 0], ['ISTP', 'Feb', 0], ['ISTP', 'Mar', 0], ['ISTP', 'Apr', 1], ['ISTP', 'May', 5], ['ISTP', 'Jun', 0], ['ISTP', 'Jul', 0], ['ISTP', 'Aug', 2], ['ISTP', 'Sep', 0], ['ISTP', 'Oct', 2], ['ISTP', 'Nov', 0], ['ISTP', 'Dec', 0]]

In [86]:
l = [['a','b'],['a','b']]
l2 = [['a','b'],['a','b']]
print(l+l2)

[['a', 'b'], ['a', 'b'], ['a', 'b'], ['a', 'b']]

In [89]:
print(data_post)

[['ENFJ', 'Jan', 0], ['ENFJ', 'Feb', 0], ['ENFJ', 'Mar', 0], ['ENFJ', 'Apr', 0], ['ENFJ', 'May', 0], ['ENFJ', 'Jun', 2], ['ENFJ', 'Jul', 0], ['ENFJ', 'Aug', 1], ['ENFJ', 'Sep', 2], ['ENFJ', 'Oct', 1], ['ENFJ', 'Nov', 0], ['ENFJ', 'Dec', 1], ['ENFP', 'Jan', 2], ['ENFP', 'Feb', 4], ['ENFP', 'Mar', 3], ['ENFP', 'Apr', 0], ['ENFP', 'May', 0], ['ENFP', 'Jun', 0], ['ENFP', 'Jul', 0], ['ENFP', 'Aug', 1], ['ENFP', 'Sep', 1], ['ENFP', 'Oct', 0], ['ENFP', 'Nov', 4], ['ENFP', 'Dec', 3], ['ENTJ', 'Jan', 0], ['ENTJ', 'Feb', 0], ['ENTJ', 'Mar', 0], ['ENTJ', 'Apr', 1], ['ENTJ', 'May', 1], ['ENTJ', 'Jun', 0], ['ENTJ', 'Jul', 0], ['ENTJ', 'Aug', 2], ['ENTJ', 'Sep', 0], ['ENTJ', 'Oct', 0], ['ENTJ', 'Nov', 1], ['ENTJ', 'Dec', 0], ['ENTP', 'Jan', 4], ['ENTP', 'Feb', 3], ['ENTP', 'Mar', 0], ['ENTP', 'Apr', 1], ['ENTP', 'May', 1], ['ENTP', 'Jun', 2], ['ENTP', 'Jul', 0], ['ENTP', 'Aug', 2], ['ENTP', 'Sep', 2], ['ENTP', 'Oct', 0], ['ENTP', 'Nov', 3], ['ENTP', 'Dec', 2], ['ESFJ', 'Jan', 0], ['ESFJ', 'Feb', 1], ['ESFJ', 'Mar', 0], ['ESFJ', 'Apr', 0], ['ESFJ', 'May', 0], ['ESFJ', 'Jun', 0], ['ESFJ', 'Jul', 0], ['ESFJ', 'Aug', 0], ['ESFJ', 'Sep', 0], ['ESFJ', 'Oct', 0], ['ESFJ', 'Nov', 0], ['ESFJ', 'Dec', 1], ['ESFP', 'Jan', 1], ['ESFP', 'Feb', 0], ['ESFP', 'Mar', 0], ['ESFP', 'Apr', 1], ['ESFP', 'May', 0], ['ESFP', 'Jun', 0], ['ESFP', 'Jul', 0], ['ESFP', 'Aug', 0], ['ESFP', 'Sep', 0], ['ESFP', 'Oct', 0], ['ESFP', 'Nov', 0], ['ESFP', 'Dec', 1], ['ESTJ', 'Jan', 0], ['ESTJ', 'Feb', 0], ['ESTJ', 'Mar', 0], ['ESTJ', 'Apr', 0], ['ESTJ', 'May', 0], ['ESTJ', 'Jun', 0], ['ESTJ', 'Jul', 0], ['ESTJ', 'Aug', 1], ['ESTJ', 'Sep', 1], ['ESTJ', 'Oct', 0], ['ESTJ', 'Nov', 0], ['ESTJ', 'Dec', 0], ['ESTP', 'Jan', 0], ['ESTP', 'Feb', 0], ['ESTP', 'Mar', 0], ['ESTP', 'Apr', 2], ['ESTP', 'May', 0], ['ESTP', 'Jun', 0], ['ESTP', 'Jul', 0], ['ESTP', 'Aug', 0], ['ESTP', 'Sep', 0], ['ESTP', 'Oct', 0], ['ESTP', 'Nov', 0], ['ESTP', 'Dec', 1], ['INFJ', 'Jan', 2], ['INFJ', 'Feb', 2], ['INFJ', 'Mar', 0], ['INFJ', 'Apr', 5], ['INFJ', 'May', 1], ['INFJ', 'Jun', 4], ['INFJ', 'Jul', 5], ['INFJ', 'Aug', 2], ['INFJ', 'Sep', 4], ['INFJ', 'Oct', 0], ['INFJ', 'Nov', 1], ['INFJ', 'Dec', 5], ['INFP', 'Jan', 6], ['INFP', 'Feb', 10], ['INFP', 'Mar', 3], ['INFP', 'Apr', 6], ['INFP', 'May', 12], ['INFP', 'Jun', 5], ['INFP', 'Jul', 5], ['INFP', 'Aug', 3], ['INFP', 'Sep', 7], ['INFP', 'Oct', 4], ['INFP', 'Nov', 7], ['INFP', 'Dec', 4], ['INTJ', 'Jan', 6], ['INTJ', 'Feb', 7], ['INTJ', 'Mar', 5], ['INTJ', 'Apr', 7], ['INTJ', 'May', 7], ['INTJ', 'Jun', 6], ['INTJ', 'Jul', 4], ['INTJ', 'Aug', 2], ['INTJ', 'Sep', 3], ['INTJ', 'Oct', 5], ['INTJ', 'Nov', 3], ['INTJ', 'Dec', 4], ['INTP', 'Jan', 5], ['INTP', 'Feb', 3], ['INTP', 'Mar', 2], ['INTP', 'Apr', 3], ['INTP', 'May', 5], ['INTP', 'Jun', 4], ['INTP', 'Jul', 4], ['INTP', 'Aug', 7], ['INTP', 'Sep', 7], ['INTP', 'Oct', 4], ['INTP', 'Nov', 3], ['INTP', 'Dec', 2], ['ISFJ', 'Jan', 0], ['ISFJ', 'Feb', 0], ['ISFJ', 'Mar', 0], ['ISFJ', 'Apr', 0], ['ISFJ', 'May', 0], ['ISFJ', 'Jun', 0], ['ISFJ', 'Jul', 3], ['ISFJ', 'Aug', 2], ['ISFJ', 'Sep', 0], ['ISFJ', 'Oct', 1], ['ISFJ', 'Nov', 1], ['ISFJ', 'Dec', 1], ['ISFP', 'Jan', 0], ['ISFP', 'Feb', 1], ['ISFP', 'Mar', 2], ['ISFP', 'Apr', 0], ['ISFP', 'May', 0], ['ISFP', 'Jun', 0], ['ISFP', 'Jul', 1], ['ISFP', 'Aug', 0], ['ISFP', 'Sep', 0], ['ISFP', 'Oct', 1], ['ISFP', 'Nov', 0], ['ISFP', 'Dec', 0], ['ISTJ', 'Jan', 1], ['ISTJ', 'Feb', 2], ['ISTJ', 'Mar', 2], ['ISTJ', 'Apr', 2], ['ISTJ', 'May', 0], ['ISTJ', 'Jun', 0], ['ISTJ', 'Jul', 0], ['ISTJ', 'Aug', 2], ['ISTJ', 'Sep', 1], ['ISTJ', 'Oct', 1], ['ISTJ', 'Nov', 1], ['ISTJ', 'Dec', 0], ['ISTP', 'Jan', 0], ['ISTP', 'Feb', 0], ['ISTP', 'Mar', 0], ['ISTP', 'Apr', 1], ['ISTP', 'May', 5], ['ISTP', 'Jun', 0], ['ISTP', 'Jul', 0], ['ISTP', 'Aug', 2], ['ISTP', 'Sep', 0], ['ISTP', 'Oct', 2], ['ISTP', 'Nov', 0], ['ISTP', 'Dec', 0]]

# Graph

In [23]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = ["A1", "A2", "B1", "B2", "C1", "C2"],
      color = "blue"
    ),
    link = dict(
      source = [0, 1, 0, 2, 3, 3], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = [2, 3, 3, 4, 4, 5],
      value = [0.8, 0.4, 0.2, 0.8, 0.4, 0.2]
  ))])

fig.update_layout(title_text="Basic Sankey Diagram", font_size=10)
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [5]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = ["A1", "A2", "B1", "B2", "C1", "C2"],
      color = "blue"
    ),
    link = dict(
      source = [0, 1, 0, 2, 3, 3], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = [2, 3, 3, 4, 4, 5],
      value = [0.8, 0.4, 0.2, 0.8, 0.4, 0.2]
  ))])

fig.update_layout(title_text="Basic Sankey Diagram", font_size=10)
fig.show()

In [18]:
titanic_df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/titanic.csv")
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [19]:
fig.show()

NameError: name 'fig' is not defined